<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prestamos - BiblioBox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{layout :: navbar}"></div>
	<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Préstamos de Libros</h2>
        <a th:href="@{/prestamos/nuevo}" class="btn btn-primary">Registrar Préstamo</a>
    </div>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Libro</th>
                <th>Alumno</th>
                <th>Fecha Préstamo</th>
                <th>Estado</th>
                <th>Fecha Devolución</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${prestamos}">
                <td th:text="${p.tituloLibro}"></td>
                <td th:text="${p.alumno.nombre}"></td>
                <td th:text="${p.fechaPrestamo}"></td>
				<td>
				    <span th:if="${p.devuelto}" class="badge bg-success">
				        <i class="bi bi-check-circle"></i> Devuelto
				    </span>
				
				    <span th:if="${!p.devuelto}" class="badge bg-danger">
				        <i class="bi bi-clock"></i> Pendiente
				    </span>
				</td>
                <td th:text="${p.fechaDevolucion ?: '-'}"></td>
                <td>
                    <a th:href="@{/prestamos/editar/{id}(id=${p.id})}" class="btn btn-sm btn-outline-primary">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/alumnos}" class="btn btn-link">Volver a Alumnos</a>
    </div>
</body>
</html>